.anchorage {
  --cell-size: 40px;
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.anchorage__title {
  font-weight: 600;
  margin-bottom: 12px;
}

.anchorage__grid-wrapper {
  overflow: auto;
}

.anchorage__grid {
  position: relative;
  /*border: 1px solid #eee;*/
  background-size: var(--cell-size) var(--cell-size);
  background-image:
    linear-gradient(to right, #eee 1px, transparent 1px),
    linear-gradient(to bottom, #eee 1px, transparent 1px);
}

.vessel-placement {
  position: absolute;
  box-sizing: border-box;
  background: transparent;
  border: 3px solid #5bb450;
  pointer-events: none;
}
