@using ins_tech_frontend_coding_task_blazor.Models
@using ins_tech_frontend_coding_task_blazor.Services
@using ins_tech_frontend_coding_task_blazor.Components

@inject ins_tech_frontend_coding_task_blazor.Services.BoardState BoardState
@implements IDisposable

<div class="vessel-pool">
    <div class="vessel-pool__title">Vessel pool (@BoardState.VesselGroups.Count)</div>
    <div class="vessel-pool__groups-list">
        @foreach (var group in BoardState.VesselGroups)
        {
        <div class="vessel-group">
            <div class="vessel-group__title" style="color: @group.Color">
                @group.ShipDesignation (@group.Vessels.Count)
            </div>
            <div class="vessel-group__list">
                @foreach (var vessel in group.Vessels)
                {
                    <VesselCard
                        @key="vessel.Id"
                        VesselModel="vessel"
                        CardTarget="VesselLocation.VesselPool"
                        Locked="BoardState.IsVesselPlaced(vessel.Id)"
                    />
                }
            </div>
        </div>
        }
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        BoardState.Changed += OnBoardChanged;
    }

    private void OnBoardChanged() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        BoardState.Changed -= OnBoardChanged;
    }
}
