@page "/"
@using ins_tech_frontend_coding_task_blazor.Components

<PageTitle>Anchorage planner</PageTitle>

<div class="board">
  <div class="board_panel">
    <AnchorageArea />
  </div>
  <div class="board_panel">
    <VesselPool />
  </div>
</div>
